body
  cursor: url('/pointer/default.cur'), auto;
a, button, #goTop, .jump
  cursor: url('/pointer/link.cur'), auto;

.home-blog
  .hero
    h1, .description, .action, .huawei
      color #000!important
      text-shadow 2px 2px 1px #888
.page
  background #fff
