body
  cursor: url('/cursor.ico'), auto;

.home-blog
  .hero
    h1
      margin:7rem auto 1.8rem;
      font-size: 2.5rem;
      color #000;

    h1, .description, .action, .huawei
      color #000!important
      text-shadow 1px 1px .5px
.page
  background #fff
