// 颜色
$textColor ?= #2c3e50
$accentColor = #44ddfc
$grayTextColor ?= #666
$lightTextColor ?= #999
$borderColor ?= #eaecef
$codeBgColor ?= #282c34
$arrowBgColor = #ccc
$navbarColor = #c9f2e9
$headerColor = #c9f2e9
$headerTitleColor ?= #000
$nprogressColor ?= $accentColor
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight ?= 3.6rem
$bannerHeight ?= 20rem

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
