.custom-md {
  h1 {
    @apply text-3xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .anchor {
      @apply -m-0.5 ml-[0.2ch] select-none p-0.5 no-underline opacity-0 transition !important;

      .anchor-icon {
        @apply mx-[0.45ch] !important;
      }
    }

    &:hover {
      .anchor {
        @apply opacity-100 !important;
      }
    }
  }

  a:not(.no-styling) {
    @apply relative bg-none font-medium text-[var(--primary)] underline decoration-[var(--link-underline)] decoration-dashed decoration-1 underline-offset-4;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline-block;

    &:hover,
    &:active {
      @apply decoration-transparent;
      background: var(--btn-plain-bg-hover);
      border-bottom: 1px dashed var(--link-hover);
      text-decoration: none;
    }
  }

  code {
    @apply overflow-hidden rounded-md bg-[var(--inline-code-bg)] px-1 py-0.5 text-[var(--inline-code-color)];

    font-family:
      'JetBrains Mono Variable',
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      Liberation Mono,
      Courier New,
      monospace;
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }

    counter-reset: line;
    span.line {
      &:before {
        @apply mr-4 inline-block w-4 text-white/25;
        content: counter(line);
        counter-increment: line;
        direction: rtl;
      }
      &:last-child:empty,
      &:last-child:has(> span:empty:only-child) {
        display: none;
      }
    }
  }

  .copy-btn {
    all: initial;
    @apply absolute right-3 top-3 z-20 h-8 w-8 cursor-pointer rounded-lg text-sm opacity-0 shadow-lg shadow-black/50 transition-all ease-in-out active:scale-90;
  }
  .frame:hover .copy-btn {
    opacity: 1;
  }

  .copy-btn-icon {
    @apply pointer-events-none absolute left-1/2 top-1/2 h-4 w-4 -translate-x-1/2 -translate-y-1/2 fill-white transition;
  }
  .copy-btn .copy-icon {
    @apply fill-white opacity-100 dark:fill-white/75;
  }
  .copy-btn.success .copy-icon {
    @apply fill-[var(--deep-text)] opacity-0;
  }
  .copy-btn .success-icon {
    @apply fill-white opacity-0;
  }
  .copy-btn.success .success-icon {
    @apply opacity-100;
  }

  .expressive-code {
    @apply my-4;
    ::selection {
      @apply bg-[var(--codeblock-selection)];
    }
  }

  ul,
  ol {
    li::marker {
      @apply text-[var(--primary)];
    }
  }

  blockquote {
    @apply relative border-transparent not-italic;
    font-weight: inherit;

    &:before {
      @apply absolute -left-1 block h-full w-1 rounded-full bg-[var(--btn-regular-bg)] transition content-[''];
    }

    /* Remove the double quotes from default styles */
    p:before,
    p:after {
      @apply content-none;
    }
  }

  .katex-display-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 1em 0;
  }
}
