:root {
  --content-width: 980px;
  --background-color: rgb(219, 229, 240);
  --about-page-gap-width: 8px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

/* index.html (include header and footer) */
/* header related */
.header {
  background: linear-gradient(rgba(24, 204, 204, 0.774), rgba(138, 217, 255, 1));
  font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
  height: 80px;
  position: relative;
  padding: 10px;
}

.header .nav-wrapper {
  max-width: var(--content-width);
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header .nav-wrapper .logo {
  margin: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 10px;
}

.header .nav-wrapper .nav {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.header .nav-wrapper .nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

.header .nav-wrapper a {
  color: rgb(114, 25, 102);
  text-decoration: none;
}

.header .nav-wrapper .nav li {
  margin-left: 30px;
  display: inline-block;
}

.header .github-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 5px;
  top: 25px;
  background-image: url('../img/icon-github.png');
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1150px) {
  .header .github-icon {
    display: none;
  }
}

/* banner related */
.main .banner-container {
  width: 100%;
  height: 450px;
  position: relative;
}

.main .banner {
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-image: url(https://sigure.xyz/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main .banner-text-wrapper {
  width: 250px;
  padding: 10px;
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  position: absolute;
  right: 50px;
  bottom: 10px;
}

.main .banner-text-wrapper h4 {
  margin: 0.5em 0;
  font-size: 1em;
}

.main .banner-text-wrapper p {
  font-size: 0.8em;
}

/* article related */
.posts {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 10px 10px 80px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.post {
  width: 300px;
  font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
  background: white;
  border-radius: 5px;
}

@media (max-width: 980px) {
  .posts {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 80px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .post {
    width: 100%;
    margin: 5px;
  }
}

.post .post-head-pic {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post .post-content {
  padding: 10px 15px;
}

.post .title {
  font-size: 1em;
}

.post .excerpt {
  font-size: 0.8em;
}

/* infomation related */
.infomation {
  width: 100%;
  height: 400px;
  padding: 0 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.infomation .avatar {
  margin: -30px 0 10px 0;
  border-radius: 50%;
  width: 150px;
}

.infomation .name {
  font-size: 1.5em;
  margin: 15px 0;
}

.infomation .description {
  font-size: 1em;
  margin: 15px auto;
  max-width: 600px;
  text-indent: 2em;
  text-align: justify;
}

/* footer related */
.footer {
  height: 300px;
  background-color: rgb(15, 15, 15);
  color: white;
  text-align: center;
}

.footer-inner {
  max-width: var(--content-width);
  margin: 0 auto;
}

.footer .footer-nav {
  padding: 15px 0;
  border-bottom: 1px solid white;
}

.footer .footer-nav ul {
  margin: 0;
  padding: 0;
}

.footer .footer-nav li {
  display: inline-block;
  margin: 0 10px;
}

.footer .footer-nav a {
  text-decoration: none;
  color: white;
}

.footer .footer-title {
  font-size: 0.8em;
}

.footer .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .links .link dt {
  font-weight: bold;
  margin: 5px;
}

.footer .links .link a {
  text-decoration: none;
  color: white;
}

.footer .links .link dd {
  font-size: 12px;
  margin: 0;
}

.footer .copyright {
  font-size: 0.8em;
  margin-top: 20px;
}

.footer .copyright p {
  margin: 0.5em;
}

/* about.html */
.about-container {
  max-width: var(--content-width);
  margin: 100px auto 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.container-left,
.container-right {
  width: calc((100% - var(--about-page-gap-width)) / 2);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 100px 20px 20px 20px;
  text-align: justify;
  text-indent: 2em;
}

.container-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.about-img {
  border-radius: 50%;
  border: var(--about-page-gap-width) solid var(--background-color);
  position: absolute;
}

.about-avatar {
  width: 200px;
  left: calc(50% - 100px);
  top: -50px;
}

.about-info-img {
  width: 120px;
  left: calc(50% - 60px);
}

.about-info-img1 {
  top: 250px;
}

.about-info-img2 {
  top: 520px;
}

.about-info-img3 {
  top: 750px;
}

.about-title {
  position: relative;
  top: 50px;
  right: calc(min(100vw, var(--content-width)) / 2);
  font-size: 1.2em;
  text-align: right;
}

.about-content {
  margin-bottom: 150px;
}

/* blog related */
.blog-container,
.gallery-container {
  max-width: var(--content-width);
  margin: 10px auto;
  justify-content: space-between;
}

.blog-card,
.gallery-card {
  margin: 8px;
  background: white;
}

.blog-content,
.gallery-content {
  float: left;
  width: calc(var(--content-width) * 0.75);
}

.post-card {
  padding: 25px;
  position: relative;
}

.post-badge-container {
  position: absolute;
  width: 70px;
  height: 60px;
  top: 20px;
  left: -70px;
  color: white;
  font-size: 0.4em;
}

.post-card-date {
  background: rgb(59, 102, 138);
  height: 30px;
  padding: 8px;
}

.post-card-category {
  background: rgb(59, 138, 125);
  height: 30px;
  padding: 8px;
}

.post-title {
  margin: 0;
  font-size: 1em;
  color: rgb(68, 5, 73);
}

.post-title a {
  text-decoration: none;
}

.post-title a:hover {
  color: rgb(203, 95, 211);
}

.post-subtitle {
  font-size: 0.9em;
  color: rgb(79, 69, 80);
}

.post-excerpt {
  font-size: 0.8em;
  color: black;
}

.post-publish-date {
  margin: 10px 0 0 0;
  font-size: 0.8em;
  text-align: right;
  color: rgb(65, 58, 58);
}

.pagination {
  margin: 10px auto;
  text-align: center;
}

.pagination-item {
  box-sizing: content-box;
  font-size: 0.6em;
  display: inline-block;
  height: 20px;
  background: white;
  padding: 12px 16px;
  margin: 0 4px;
  font-family: 'Microsoft YaHei', sans-serif;
}

.pagination-active {
  background: rgb(88, 88, 199);
}

.pagination-deactive {
  color: rgb(165, 141, 141);
}

.blog-sidebar,
.gallery-sidebar {
  width: calc(var(--content-width) * 0.25);
  float: left;
}

@media (max-width: 980px) {
  .blog-container {
    width: 100%;
  }

  .blog-content {
    width: 100%;
  }

  .blog-sidebar {
    display: none;
  }

  .post-badge-container {
    display: none;
  }
}

/* sidebar related */
.search-card {
  padding: 10px;
}

.search-form {
  border: solid 1px #ccc;
  padding: 0;
  position: relative;
}

.search-form:hover {
  border: solid 1px #999;
}

.search-box {
  width: 150px;
  height: 3em;
  display: inline-block;
  border: none;
  padding: 5px;
  outline: none;
}

.search-btn {
  height: 3em;
  width: 50px;
  background: #e2e2e2;
  display: inline-block;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

.search-btn:hover {
  background: rgb(12, 21, 146);
  color: white;
  margin: 0;
}

.category-card ul {
  margin: 0;
  padding: 0;
}

.category-item {
  margin: 0;
  list-style-type: none;
  height: 3em;
  border-left: 5px solid #77f;
  border-bottom: 1px solid #77f;
  /* line-height: 3em; */
}

.category-item:hover {
  border-left: 5px solid #33c;
}

.category-card a {
  text-decoration: none;
}

.category-item {
  padding-left: 20px;
  line-height: 3em;
  color: #77f;
}

.category-item:hover {
  color: #33c;
}

.calendar-card {
  padding: 20px;
}

.calendar {
  margin: auto;
  border-collapse: collapse;
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: 0.8em;
  line-height: 1.7em;
  text-align: center;
  color: #444;
}

.calendar td:nth-child(1),
.calendar td:nth-child(7) {
  color: #f77;
}

.calendar tr {
  border-bottom: 1px solid #99f;
}

.calendar-last-month,
.calendar-next-month {
  color: #666;
}

.calendar td {
  width: 25px;
}

.calendar-highlight,
.calendar-dark {
  font-weight: bold;
  color: black;
}

.calendar-today {
  color: #fff;
  background-color: rgb(15, 15, 68);
}

.tag-card {
  padding: 15px;
}

.tag-title {
  font-size: 0.6em;
  margin: 0;
  font-weight: normal;
  color: #aaa;
}

.tag-text {
  text-align: justify;
  color: rgb(81, 21, 83);
}

.tag-item-1 {
  font-size: 2em;
}

.tag-item-2 {
  font-size: 1.4em;
}

.tag-item-3 {
  font-size: 0.8em;
}

/* gallery related */

.tab-placeholder {
  height: 60px;
}

.gallery-container {
  position: relative;
}

.gallery-tabs {
  position: absolute;
  height: 50px;
  line-height: 50px;
  top: -50px;
  left: 0;
  display: flex;
  flex-direction: row;
}

.gallery-tab {
  padding: 0 20px;
  background: white;
  height: 50px;
  border-right: 1px solid var(--background-color);
  border-bottom: 1px solid var(--background-color);
  font-size: 1em;
}

.gallery-tab-1 {
  border-top: 3px solid hsl(56, 70%, 50%);
}

.gallery-tab-1:hover {
  border-top: 3px solid hsl(56, 70%, 30%);
}

.gallery-tab-2 {
  border-top: 3px solid hsl(106, 70%, 50%);
}

.gallery-tab-2:hover {
  border-top: 3px solid hsl(106, 70%, 30%);
}

.gallery-tab-3 {
  border-top: 3px solid hsl(165, 70%, 50%);
}

.gallery-tab-3:hover {
  border-top: 3px solid hsl(165, 70%, 30%);
}

.gallery-tab-4 {
  border-top: 3px solid hsl(207, 70%, 50%);
}

.gallery-tab-4:hover {
  border-top: 3px solid hsl(207, 70%, 30%);
}

.gallery-tab-5 {
  border-top: 3px solid hsl(298, 70%, 50%);
}

.gallery-tab-5:hover {
  border-top: 3px solid hsl(298, 70%, 30%);
}

.gallerys {
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.gallery-col {
  /* width: 500px; */
}

.gallery-col-1 {
  width: 340px;
}

.gallery-col-2 {
  width: 170px;
}

.gallery-col-3 {
  width: 170px;
}

.gallery-img {
  display: block;
  margin: 0;
}

.gallery-text {
  position: relative;
  background: purple;
  width: 340px;
  margin: 0;
}

.gallery-text-1 {
  width: 340px;
}

.gallery-text-2,
.gallery-text-3 {
  width: 170px;
}

.gallery-item-tab {
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 2em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  background: #ccc;
  position: absolute;
  top: 10px;
  left: 5px;
}

.gallery-item-text {
  margin-left: 60px;
  padding: 10px 20px 10px 0;
}

.gallery-item-text > .gallery-title {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.gallery-item-text > .gallery-excerpt {
  font-size: 0.8em;
  margin: 10px 0 0 0;
}

.load-more {
  font-size: 12px;
  line-height: 3em;
  text-align: center;
}

.posts-ranking {
  padding: 15px;
}

.ranking-title {
  font-size: 0.6em;
  margin: 0;
  font-weight: normal;
  color: #aaa;
}

.ranking {
  list-style-type: none;
  margin: 30px 0 0 5px;
  padding: 0;
}

.ranking-item {
  margin: 5px 0;
}

.ranking-item-number {
  background-color: purple;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: white;
  line-height: 1em;
  vertical-align: middle;
}

.ranking-item-bar-wrap {
  border: 1px solid purple;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  width: 80px;
  height: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
}

.ranking-item-bar {
  background-color: purple;
  height: 100%;
}

.ranking-item-bar-100 {
  width: 100%;
}

.ranking-item-bar-80 {
  width: 80%;
}

.ranking-item-bar-60 {
  width: 60%;
}

.ranking-item-bar-40 {
  width: 40%;
}

.ranking-item-bar-20 {
  width: 20%;
}

.ranking-item-type {
  font-size: 1em;
  vertical-align: middle;
}
