---
interface Props {
  badge?: string
  url?: string
  label?: string
}
const { badge, url, label } = Astro.props
---

<a href={url} aria-label={label}>
  <button
    class:list={`h-10 w-full rounded-lg bg-none pl-2 text-neutral-700 transition-all hover:bg-[var(--btn-plain-bg-hover)] hover:pl-3 hover:text-[var(--primary)] active:bg-[var(--btn-plain-bg-active)] dark:text-neutral-300 dark:hover:text-[var(--primary)]`}
  >
    <div class="relative mr-2 flex items-center justify-between">
      <div class="overflow-hidden overflow-ellipsis whitespace-nowrap text-left">
        <slot />
      </div>
      {
        badge !== undefined && badge !== null && badge !== '' && (
          <div class="ml-4 flex h-7 min-w-[2rem] items-center justify-center rounded-lg bg-[var(--btn-regular-bg)] px-2 text-sm font-bold text-[var(--btn-content)] transition dark:bg-[var(--primary)] dark:text-[var(--deep-text)]">
            {badge}
          </div>
        )
      }
    </div>
  </button>
</a>
